/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: #E6E6E6;
color: white;
}

a {
    color: #0F0F0F;
}

.header-background {
    background-color: #E6E6E6;
}

.header-image {
    width: 100%; /* Make the image fill the container width */
    max-height: 50vh; /* Limit the height to the viewport height */
    object-fit: cover; /* Ensure the image covers the entire container */
    object-position: center; /* Center the image within the container */
    display: block; /* Ensure proper display behavior */
}

.footer-background {
    background-color: #E6E6E6;
}


.nav-pills .nav-item .nav-link.active {
    background-color: #C5A880;
    color: #532E1C;
}

.nav-pills .nav-item .nav-link {
    color: #532E1C;
}

.fs-4 {
    color: #532E1C;
}

h1 {
    color: #532E1C;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: #532E1C;
  background-color: #E6E6E6;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.btn-custom {
    background-color: #C5A880;
    border-color: #E6E6E6;
    color: #532E1C;

}

.btn-custom:hover {
    background-color: #0F0F0F;
    border-color: #E6E6E6;
    color: #E6E6E6;
}

#details {
    color: #532E1C;
}

.cafe-name {
    color: #FFFFFF;
}

.form-label {
    color: #532E1C;
}