{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About</h1>
          <p class="subheading">This is what I do.</p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Looking for the perfect cafe to work in, where you can stay powered up and connected? Look no further! Welcome to our curated collection of cafes, meticulously handpicked to cater to your productivity needs.
          Discover a diverse array of establishments, each equipped with vital amenities such as power sockets and high-speed Wi-Fi.
          From cozy corners to bustling hubs, explore our comprehensive data on power availability, Wi-Fi speeds, and coffee quality, ensuring you find the ideal workspace to fuel your creativity and productivity.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
