{% include 'header.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-striped table-hover custom-table">

          <tr>
              {% for column_name in column_names %}
              <th>
                {{ column_name }}
              </th>
              {% endfor %}
          </tr>

          {% for cafe in cafes %}
          <tr>
              <td><a href="{{ url_for('cafe', cafe_name=cafe.name) }}">{{ cafe.name }}</a></td>
              <td>{{ cafe.location }}</td>
              <td><a href="{{ cafe.map_url }}">Map Link </a></td>
              <td>{{ cafe.seats }}</td>
              <td>
                  {% if cafe.wifi_rating == '1' %}
                        💪
                  {% elif cafe.wifi_rating == '2' %}
                        💪💪
                  {% elif cafe.wifi_rating == '3' %}
                        💪💪💪
                  {% elif cafe.wifi_rating == '4' %}
                        💪💪💪💪
                  {% elif cafe.wifi_rating == '5' %}
                        💪💪💪💪💪
                  {% elif cafe.wifi_rating == '0' %}
                        ✘
                  {% endif %}
              </td>
              <td>{{ cafe.has_toilet }}</td>
              <td>
                  {% if cafe.outlet_rating == '1' %}
                        🔌
                  {% elif cafe.outlet_rating == '2' %}
                        🔌🔌
                  {% elif cafe.outlet_rating == '3' %}
                        🔌🔌🔌
                  {% elif cafe.outlet_rating == '4' %}
                        🔌🔌🔌🔌
                  {% elif cafe.outlet_rating == '5' %}
                        🔌🔌🔌🔌🔌
                  {% elif cafe.outlet_rating == '0' %}
                        ✘
                  {% endif %}
              </td>
              <td>{{ cafe.can_take_calls }}</td>
              <td>
                  {% if cafe.coffee_rating == '1' %}
                        ☕️
                  {% elif cafe.coffee_rating == '2' %}
                        ☕️☕️
                  {% elif cafe.coffee_rating == '3' %}
                        ☕️☕️☕️
                  {% elif cafe.coffee_rating == '4' %}
                        ☕️☕️☕️☕️
                  {% elif cafe.coffee_rating == '5' %}
                        ☕️☕️☕️☕️☕️
                  {% elif cafe.coffee_rating == '0' %}
                        ✘
                  {% endif %}
              </td>

          </tr>
          {% endfor %}

  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
        <p><a href="{{ url_for('add_cafe') }}">Add Cafe</a></p>

    </div>
  </div>
</div>

{% endblock %}
{% include 'footer.html' %}
